/*
All icons from sprite.svg require a server for displaying.
/* 
==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
body {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  background-color: #fdfdfd;
  width: 100%;
}

/* ==========================================================================
       font-family: 'Roboto', sans-serif;
       font-family: 'Poppins', sans-serif;
      ========================================================================== */

* {
  box-sizing: border-box;
}

.content__row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  width: 100%;
}

.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-around {
  justify-content: space-around !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-baseline {
  align-items: baseline !important;
}

td,
th {
  padding: 8px 0;
  display: table-cell;
}
.icon {
  font-size: 16px;
  transition: fill 0.3s ease;
}
.icon-3-d {
  width: 0.93em;
  height: 1em;
  fill: none;
}
.icon-analytics,
.icon-animation {
  width: 1.36em;
  height: 1em;
  fill: #8191ac;
}
.icon-animation {
  fill: none;
  width: 1em;
}
.icon-archive {
  width: 1.29em;
  height: 1em;
  fill: #8191ac;
}
.icon-assets {
  width: 1em;
  height: 1em;
  fill: #8191ac;
}
.icon-audio {
  width: 0.92em;
  height: 1em;
  fill: none;
}
.icon-billing {
  width: 1em;
  height: 1em;
  fill: #8191ac;
}
.icon-button {
  width: 0.73em;
  height: 1em;
  fill: none;
}
.icon-campaigns {
  width: 1em;
  height: 1em;
  fill: #8191ac;
}
.icon-arrow-up {
  width: 1em;
  height: 1em;
  fill: #8191ac;
}
.icon-chevron-left {
  width: 0.3em;
  height: 0.5em;
  fill: #494c52;
}
.icon-chevron-right {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}
.icon-tick {
  width: 0.5em;
  height: 0.375em;
  fill: #fff;
}
.icon-copy,
.icon-delete {
  width: 1em;
  height: 1em;
  fill: #8191ac;
}
.icon-delete {
  width: 0.88em;
}

.icon-down {
  width: 0.6em;
  height: 0.4em;
  fill: #cacfd7;
}
.icon-help {
  width: 1em;
  height: 1em;
  fill: #8191ac;
}
.icon-hide {
  width: 1.33em;
  height: 1em;
  fill: none;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: none !important;
}
.icon-html-5,
.icon-image-360 {
  width: 1.2em;
  height: 1em;
  fill: none;
}
.icon-image-360 {
  width: 1.13em;
}
.icon-image,
.icon-image-red,
.icon-location {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-location {
  width: 0.77em;
}
.icon-log-out {
  width: 1em;
  height: 1em;
  fill: #8191ac;
}
.icon-location-grey {
  width: 0.875em;
  height: 1.125em;
  fill: #8191ac;
}
.icon-next,
.icon-nothing {
  width: 0.95em;
  height: 1em;
  fill: none;
}
.icon-nothing {
  width: 1em;
}
.icon-notification,
.icon-previous {
  width: 0.94em;
  height: 1em;
}
.icon-notification {
  fill: #8191ac;
}

.icon-previous {
  width: 0.95em;
}
.icon-save,
.icon-print,
.icon-qr-code {
  width: 1em;
  height: 1em;
  fill: #8191ac;
}
.icon-save,
.icon-qr-code {
  fill: none;
}

.icon-reports {
  width: 1em;
  height: 1em;
  fill: #8191ac;
}
.icon-search,
.icon-settings {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-settings {
  fill: #8191ac;
}
.icon-show {
  width: 1em;
  height: 1em;
  fill: #cacfd7;
}
.icon-team,
.icon-templates,
.icon-text {
  width: 1em;
  height: 1em;
  fill: #8191ac;
}
.icon-text {
  fill: none;
}
.icon-video,
.icon-video-360 {
  width: 1.13em;
  height: 1em;
  fill: none;
}
.icon-video {
  width: 1.5em;
}
.icon-info {
  width: 1em;
  height: 1em;
  fill: #8191ac;
}
.icon-close {
  width: 1.1em;
  height: 1.1em;
  fill: #8191ac;
}
.icon-googleplus {
  fill: #fff;
  width: 1em;
  height: 1em;
}
.icon-facebook {
  fill: #fff;
  width: 0.5625em;
  height: 1em;
}
.icon-plane,
.icon-rocket,
.icon-paper-plane {
  fill: #cacfd7;
  width: 1.5em;
  height: 1.5em;
}

/* active states of icons */
.icon-notification:focus,
.icon-help:focus {
  fill: #09baa6;
}
.icon-notification:hover,
.icon-help:hover,
.icon-down:hover {
  fill: #fff;
}

/*==========================================================================
      Helper classes
      ========================================================================== */

/*
    * Hide visually and from screen readers
    */

.hidden {
  display: none !important;
}

/*
    * Hide only visually, but have it available for screen readers:
    * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
    *
    * 1. For long content, line feeds are not interpreted as spaces and small width
    *    causes content to wrap 1 word per line:
    *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
    */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
    * Extends the .visuallyhidden class to allow the element
    * to be focusable when navigated to via the keyboard:
    * https://www.drupal.org/node/897638
    */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
    * Hide visually and from screen readers, but maintain layout
    */

.invisible {
  visibility: hidden;
}

/*
    * Clearfix: contain floats
    *
    * For modern browsers
    * 1. The space content is one way to avoid an Opera bug when the
    *    `contenteditable` attribute is included anywhere else in the document.
    *    Otherwise it causes space to appear at the top and bottom of elements
    *    that receive the `clearfix` class.
    * 2. The use of `table` rather than `block` is only necessary if using
    *    `:before` to contain the top-margins of child elements.
    */

.clearfix:before,
.clearfix:after {
  content: ' '; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin: 1rem 0;
}
a {
  transition: all 0.3s ease;
}
button {
  padding: 0;
  background: transparent;
  box-shadow: none;
  border: none;
  font-family: inherit;
  transition: all 0.3s ease;
}
button:hover,
button:focus,
button:active {
  cursor: pointer;
  background: transparent;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 240px;
  text-transform: uppercase;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.button svg + span {
  margin-left: 8px;
}
.button span + svg {
  margin-left: 8px;
}
.button.redtext,
.button.greytext {
  width: auto;
}
.button--red {
  height: 56px;
  border-radius: 28px;
  background-color: #ff4362;
  color: #fff;
}
.button--red:hover,
.button--red:focus,
.button--red:active {
  background-color: #ff1d53;
}

.button--emptygreen {
  height: 48px;
  border-radius: 24px;
  border: solid 2px #09baa6;
  background-color: transparent;
  color: #09baa6;
}
.button--emptygreen:hover,
.button--emptygreen:focus,
.button--emptygreen:active {
  color: #08a896;
  border-color: #08a896;
}
.button--emptyred {
  height: 56px;
  max-width: 200px;
  border-radius: 28px;
  border: solid 1px #ff4362;
  background-color: transparent;
  color: #ff4362;
}
.button--emptyred:hover,
.button--emptyred:focus,
.button--emptyred:active {
  color: #ff4362;
  border-color: #ff4362;
}
.button--signin {
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  color: #ffffff;
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  max-width: 224px !important;
}
.button--signin svg {
  margin-right: 16px;
}
.button--coolblue {
  background-color: #507cc0;
}
.button--coolblue:hover {
  background-color: hsl(216, 47%, 48%);
}
.button--palered {
  background-color: #df4930;
}
.button--palered:hover {
  background-color: hsl(9, 73%, 47%);
}
.button--noborders {
  width: auto;
  padding: 8px 20px;
}
p {
  margin: 0;
}
.redtext {
  color: #ff4362;
}

.redtext .icon {
  fill: #ff4362;
}
.greytext {
  color: #8191ac;
}
.greytext .icon {
  fill: #8191ac;
}
.semiboldtext {
  font-weight: 500;
}

.redtext.button:hover,
.greytext.button:hover {
  color: #6228ff;
}
.redtext:hover .icon,
.greytext:hover .icon {
  fill: #6228ff;
}
.scroll-y {
  overflow-y: auto;
}
.scroll-y::-webkit-scrollbar {
  width: 5px;
}
.scroll-y::-webkit-scrollbar-track {
  background-color: #435672;
}
.scroll-y::-webkit-scrollbar-thumb {
  background-color: hsl(216, 37%, 47%);
}

[type='checkbox'] + span:not(.lever):after {
  bottom: 0;
  margin: auto;

  border-radius: 3px !important;
  border: solid 1px #cacfd7 !important;
}
[type='checkbox'].filled-in:checked + span:not(.lever):before {
  top: 1px;
}
[type='checkbox'].filled-in:not(:checked) + span:not(.lever):after {
  background-color: #fff;
}
[type='checkbox'] + span:not(.lever) {
  padding-left: 32px;
}
/* ==========================================================================
      Layout classes
      ========================================================================== */
.no-sidebar .main,
.no-sidebar .footer {
  margin-left: 0;
}
.no-sidebar .main {
  padding-left: 0;
  padding-right: 0;
}
/* Sidebar */
aside.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 232px;
  height: 100vh;
  background-color: #2e4363;
  overflow-x: hidden;
  color: #96a4bc;
}
aside.sidebar:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #2e4363;
  transition: opacity 0.4s ease;
  z-index: -1;
}
aside.sidebar.dropdown-active:after {
  opacity: 0.8;
  z-index: 1;
}

.s__nav a:not(.button) {
  color: inherit;
}

.s-nav__head,
.s-nav__create,
.s-nav__upgrade,
.s-nav__help {
  padding: 8px 16px;
}
.s-nav__head {
  position: relative;
  z-index: 2;
}
.s-nav__head_notification {
  position: absolute;
  right: 16px;
  top: 8px;
}
.s-nav__head_ava {
  display: flex;
  justify-content: center;
}
.s-nav__head_ava img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: -16px;
  z-index: 2;
}
.s-nav__head_info {
  position: relative;
  padding: 16px 11px 11px 11px;
  border-radius: 4px;
  background-color: #435672;
  text-align: center;
  color: #ffffff;
}
.dropdown-active .s-nav__head_info {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.s-nav__head_name {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}
.s-nav__head_account {
  font-size: 12px;
  font-weight: normal;
}
#toggleHeadDropdown {
  padding: 0 2px;
}
#toggleHeadDropdown:hover {
  cursor: pointer;
}
#toggleHeadDropdown:hover .icon {
  fill: #fff;
}
.s-nav__head-dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 103%;
  width: 100%;
  z-index: 2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #435672;
  color: #96a4bc;
}
.s-nav__head-dropdown .s-nav__list {
  padding: 0;
  margin: 0;
}
.s-nav__head-dropdown .s-nav__list li a {
  padding: 14px 12px 14px 48px;
}
.s-nav__head-dropdown .s-nav__help {
  padding: 14px 12px;
}

.s-nav__list {
  margin: 14px 0 25px;
}
.s-nav__list li a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px 12px 18px 48px;
  transition: all 0.3s ease-out;
}
.s-nav__list li a:hover {
  color: #fff;
  background-color: #384c6a;
}
.s-nav__list li a .icon {
  position: absolute;
  left: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.s-nav__list li a:hover .icon {
  fill: #fff;
}
.s-nav__list li.current a {
  background-color: #384c6a;
  color: #fff;
}
.s-nav__list li.current .icon {
  fill: currentColor;
}
.s-nav__list li.current a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #09baa6;
}
.s-nav__help {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8191ac;
}
.s-nav__help .icon {
  margin-left: 8px !important;
  position: static !important;
}
.s-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 63px;
}
.s-footer__logo {
  width: 70px;
  height: 65px;
}
/* end Sidebar */
.main,
.footer {
  margin-left: 232px;
  padding: 0 40px 0 32px;
}
/* Main content */
.main {
  min-height: calc(100vh - 66px);
  padding-bottom: 40px;
}
.main-content .content__section:first-child {
  padding-top: 45px;
}
.content__section {
  padding-top: 20px;
}
.main-content button {
  max-width: 200px;
}
.content__manage {
  padding-bottom: 16px;
}
.content__manage .button--emptygreen {
  margin-right: 20px;
}

.content__searchbar {
  padding: 14px 0;
  border-top: 2px solid #eff1f3;
  border-bottom: 2px solid #eff1f3;
}
.searchbar__list {
  display: flex;
  align-items: center;
  margin: 0;
}
.searchbar__list li {
  margin-right: 32px;
  color: #8191ac;
}
.searchbar__list li.is-active,
.searchbar__list li.is-active a {
  font-weight: 500;
  color: #09baa6;
}
.searchbar__list li a,
.searchbar__list li label {
  font-weight: inherit;
  color: inherit;
  line-height: 1;
}
.searchbar__list [type='checkbox'] + span:not(.lever):after {
  width: 24px !important;
  height: 24px !important;
}
.searchbar__list [type='checkbox'].filled-in:checked + span:not(.lever):before {
  top: 2px;
  left: 3px;
}
.searchbar__list li label span {
  transition: color 0.25s;
}
.searchbar__list li label:hover {
  color: #494c52;
}
.searchbar__list li label:hover input:not(:checked) + span:not(.lever):after {
  border-color: #8191ac !important;
}
.searchbar__list li.a-z {
  font-size: 16px;
  color: #494c52;
}
.searchbar__list li:last-child {
  margin: 0 0 0 auto;
}
.searchbar__search {
  position: relative;
  display: flex;
  align-items: center;
  width: 176px;
}

.searchbar__search input[type='search'] {
  margin: 0;
  width: 100%;
  height: 38px;
  padding: 0 24px 0 8px;
  border-radius: 3px;
  line-height: 1;
  border: none;
  z-index: 1;
  color: #494c52;
  border: solid 1px transparent;
}

.searchbar__search input::placeholder {
  color: #8191ac;
}
.searchbar__search input:not(:placeholder-shown),
.searchbar__search input:focus {
  background-color: #ffffff;
  border-color: #eff1f3 !important;
  box-shadow: none !important;
}
.searchbar__search input:not(:placeholder-shown) + .searchbar__search-icon,
.searchbar__search input:focus + .searchbar__search-icon {
  z-index: 1;
}

.searchbar__search-icon {
  position: absolute;
  right: 8px;
  top: 35%;
  z-index: 0;
}
.searchbar__search-icon:hover {
  cursor: pointer;
}
/* products */
.products .row {
  margin-left: -32px;
}
.product__item {
  position: relative;
  flex: 1 0 240px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 28px 0 12px 32px;
}
.product__item > * {
  z-index: 1;
}
.product__item.selected:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -12px;
  left: -12px;
  width: calc(100% + 24px);
  height: calc(100% + 32px);
  border-radius: 3px;
  background-color: #eff1f3;
  border: solid 2px #09baa6;
}
.grid-cols-5 .product__item {
  flex: 1 0 160px;
  margin: 28px 0 12px 32px;
}
@media (min-width: 768px) {
  .product__item {
    max-width: calc(50% - 32px);
  }
  .grid-cols-5 .product__item {
    max-width: calc(33.33333% - 32px);
  }
}
@media (min-width: 992px) {
  .product__item {
    max-width: calc(33.33333% - 32px);
  }
  .grid-cols-5 .product__item {
    max-width: calc(25% - 32px);
  }
}
@media (min-width: 1180px) {
  .product__item {
    max-width: calc(25% - 32px);
  }
  .grid-cols-5 .product__item {
    max-width: calc(20% - 32px);
  }
}
.product__body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(25, 15, 0, 0.1);
}
.product__overlay {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 4px;
  background-color: #445c7f;
  box-shadow: 0 8px 24px 0 rgba(68, 92, 127, 0.25);
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.product__body:hover .product__overlay:not(.product__add):not(.product__type) {
  opacity: 1;
  background-color: rgba(68, 92, 127, 0.8);
}
.product__add {
  width: 56px;
  height: 56px;
  min-width: 56px;
  min-height: 56px;
  opacity: 1;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  box-shadow: none;
  font-size: 24px;
  background: rgba(68, 92, 127, 0.9) url(../img/plus.svg) no-repeat center;
}
.product__add:hover {
  background-color: rgba(68, 92, 127, 1);
}
.product__type {
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  opacity: 1;
  border-radius: 0;
  background-color: rgba(68, 92, 127, 0.9);
}
.product__type .icon {
  width: 32px;
  height: 32px;
}
.product__check {
  position: absolute;
  left: 12px;
  top: 12px;
}
.product__body .product__check .pseudo-checkbox {
  transition: all 0.3s ease;
}
.product__check input:not(:checked) + .pseudo-checkbox {
  opacity: 0;
}
.product__body:hover .product__check .pseudo-checkbox {
  opacity: 1;
}
.product__pic {
  max-width: 100%;
  max-height: 100%;
}
.product__name {
  margin: 8px 0 0 0;
  font-size: 16px;
  font-weight: 500;
  color: #0d0d0d;
}
.product__label {
  position: absolute;
  right: 0;
  top: -8px;
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 10px;
  border-radius: 16px;
  background-color: #6228ff;
  border: solid 3px #fcfcfc;
  color: #ffffff;
  box-sizing: content-box;
}
.product__item .content__actions {
  margin-top: 12px;
}
.product__item .content__actions button:last-child,
.content__actions a:last-child {
  margin-right: 0;
}
.product__item .content__action-label {
  margin-right: auto !important;
}
.content__actions .product__name {
  margin: 0;
}
.main--assets .content__actions {
  justify-content: flex-start;
}
.main--assets .product__item:not(.folder) .product__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product__item.folder .product__body {
  box-shadow: none;
  background-color: transparent;
}
.product__item.folder .product__pic {
  /* box-shadow: 0 8px 24px 0 rgba(68, 92, 127, 0.25); */
}
/* end products */

/* content actions */
.content__actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__actions button,
.content__actions a {
  min-width: 24px;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}
.content__action-label {
  font-size: 12px;
  font-weight: 500;
  color: #8191ac;
  text-transform: uppercase;
}
.content__action-label:hover {
  color: #6228ff;
}
.content__action-label--red {
  color: #ff4362;
}
.content__actions button:hover .icon {
  fill: #6228ff;
}
/* end Content actions */
.content__selected {
  margin-top: 24px;
}
.selected__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100vw - 232pxpx);
  margin: 0 -40px 0 -32px;
  padding: 12px 0;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(25, 15, 0, 0.1);
}
.selected__quantity {
  font-size: 16px;
}
.selected__list li {
  margin: 4px 20px;
}
/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.pagination li {
  width: 32px;
  height: 32px;
  margin: 0 4px;
  border-radius: 3px;
}
.pagination li a {
  color: #494c52;
  font-size: 14px;
}
.pagination__dots {
  font-size: 20px;
  color: #cacfd7;
  line-height: 1;
  font-weight: 700;
}
.pagination li.active {
  background-color: #09baa6;
}
.pagination__arrow--left {
  margin-right: 25px;
}
.pagination__arrow--right {
  margin-left: 25px;
}
.pagination .pagination__arrow:hover .icon {
  fill: #08a896;
}
/* end pagination */

/* Content table */
.content__table {
  min-height: 200px;
  margin: 28px 0 32px;
  padding: 0 24px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(25, 15, 0, 0.1);
}
.content__table tr {
  transition: background-color 0.3s ease;
}
.content__table tr:hover {
  cursor: pointer;
  background-color: rgba(239, 241, 243, 0.4);
}
.content__table tr:last-child {
  border-bottom: none;
}
.content__table tr td:first-child {
  width: 96px;
}

.content__table tr td:nth-child(3) {
  max-width: 100px;
}
.content__table tr td:nth-child(4) {
  max-width: 100px;
}
.content__table tr td:last-child {
  max-width: 24px;
}
.table__product-pic {
  padding-left: 32px;
}
.table__product-pic img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}
.table__product-name {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

/* Footer */
.footer {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #494c52;
}
.footer__inner {
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #eff1f3;
}
footer * {
  color: #8191ac;
}
footer a {
  margin-left: 32px;
  transition: color 200ms ease;
}
footer a:hover {
  color: #494c52;
}

/* FORM*/
/* Registration page styles */
.fm-regpage {
  min-height: calc(100vh - 100px);
  padding: 48px 52px 8px 52px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.fm-regpage.fm--reset {
  padding-top: 80px;
}
@media only screen and (max-width: 580px) {
  .fm-regpage {
    padding: 0 32px 8px 32px;
  }
}
.fm-regpage__bg-img {
  position: absolute;
  top: 32px;
  right: -3vw;
  z-index: 0;
  max-width: 100vw;
  height: calc(100% - 32px);
  max-height: 675px;
}
.fm-regpage .fm__contr {
  max-width: 480px;
}
.fm-regpage .fm__form-inner {
  max-width: 360px;
}
.fm-regpage .fm__footer .content__row {
  justify-content: center;
}

@media only screen and (min-width: 1180px) {
  .fm-regpage .fm {
    justify-content: center;
  }
  .fm-regpage .fm__contr {
    margin-left: -580px;
  }
}
.fm-regpage .fm__form {
  width: 100%;
  padding: 32px 32px 46px 32px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(37, 21, 0, 0.1), 0 0px 8px 0 rgba(37, 21, 0, 0.1);
}
/* end Registration page styles */
/* Common Form elements styles */
.fm {
  position: relative;
  display: flex;
  color: #0d0d0d;
  box-sizing: border-box !important;
}
.fm__contr {
  width: 100%;
  z-index: 1;
}
.fm__form-header {
  text-align: center;
  margin-bottom: 24px;
}
.fm__form-inner {
  margin: 0 auto;
}
.fm__form-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 32px 0 16px;
}
.fm__form-subtitle {
  margin: 16px 0 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.fm .input-field {
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}

.icon-show:hover {
  fill: #8191ac;
}

.fm input {
  position: relative;
  height: 56px !important;
  margin: 0 !important;
  padding: 10px 40px 10px 16px !important;
  border-radius: 3px !important;
  background-color: #fff !important;
  border: solid 1px #cacfd7 !important;
  box-sizing: border-box !important;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 96% 55%;
}
.fm input:hover,
.fm input:focus {
  border-color: #8191ac !important;
}

.fm .input-field label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0d0d0d;
}
/* placeholder color */
.fm .input-field input::placeholder {
  color: #babfc8;
}
/* label underline focus color */
.fm .input-field input:focus {
  box-shadow: none !important;
}
/* valid color */
.fm .input-field input.valid {
  border-color: #09baa6 !important;
  color: #08a896;
  box-shadow: none;
}

.fm .input-field input.valid:not([type='password']):not(.file-path) {
  background-image: url(../img/success.svg);
}
/* invalid color */
.fm .input-field input.invalid {
  border-color: #fa332e !important;
  box-shadow: none;
  color: #fa332e;
}
.fm .input-field input.invalid:not([type='password']):not(.file-path) {
  background-image: url(../img/error.svg);
}
.fm .input-field input[type='password'] {
  background-image: url(../img/show.svg);
}
.fm .file-field.input-field .file-path,
.fm .file-field.input-field .file-path:focus,
.fm .file-field.input-field .file-path:hover {
  border-color: transparent !important;
}
.input-field input.invalid + .helper-text {
  display: block;
}

.input-field .helper-text {
  width: 100%;
  margin-top: 8px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: normal;
  display: none;
  text-align: center;
}
.input-field .helper-text::after {
  position: static;
}
.input-field .helper-text[data-error='wrong'] {
  color: #fa332e;
}
/* switcher */
.fm .switch {
  color: #babfc8;
}
.fm .switch label .lever {
  width: 46px;
  height: 24px;
  font-size: 14px;
  border-radius: 15.5px;
  background-color: #eff1f3;
}
.fm .switch {
  margin-top: 16px;
}
.switch label {
  font-size: 14px;
}
.switch label .lever:before,
.switch label .lever:after {
  width: 24px;
  height: 24px;
  top: -0.55px;
}
.switch label input[type='checkbox'] + .lever:after {
  background-color: #09baa6;
}
.switch label input[type='checkbox']:checked + .lever {
  background-color: #09baa6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}
.switch label input[type='checkbox']:checked + .lever:before,
.switch label input[type='checkbox']:checked + .lever:after {
  left: 23px;
}
.switch.turned-on label > .switch__value:last-child {
  color: #09baa6;
}
.switch.turned-on label > .switch__value:first-child {
  color: #babfc8;
}
.switch label > .switch__value:first-child {
  color: #09baa6;
}
.switch__caption {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #0d0d0d;
}
.fm__switch .icon {
  margin: 0 8px;
}
/* end switcher */

/* input file upload */
.row-fileupload .input-field:first-child {
  flex-grow: 1;
  margin-right: 22px;
}
.fm .file-field {
  display: flex;
  align-items: center;
  margin: 0 !important;
}
.file-field input[type='file'] {
  z-index: 1;
}
.fm .upload-button .icon {
  width: 1.2em;
  height: 1.2em;
}
.fm .file-path-wrapper input {
  padding: 0 !important;
  border-color: transparent !important;
  width: 90px;
}
.fm .file-path-wrapper input::placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #ff4362;
  text-transform: uppercase;
}
/* end input file upload */
.cirlce {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #ff4362;
}
/* file upload with thumbnail */
.file-upload {
  width: 140px;
  height: 140px;
}
.btn-upload {
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column;
  width: 100% !important;
  max-width: 100% !important;
  height: 100%;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  z-index: -1;
  background-color: #fcfcfc;
}
.file-upload-content {
  display: none;
  text-align: center;
  height: 100%;
}
.file-upload .file-upload-input {
  position: absolute;
  padding: 0 !important;
  width: 100%;
  height: 140px !important;
  outline: none;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.image-upload-wrap {
  position: relative;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  background-image: repeating-linear-gradient(
      to right,
      #cacfd7 0%,
      #cacfd7 50%,
      transparent 50%,
      transparent 100%
    ),
    repeating-linear-gradient(
      to right,
      #cacfd7 0%,
      #cacfd7 50%,
      transparent 50%,
      transparent 100%
    ),
    repeating-linear-gradient(
      to bottom,
      #cacfd7 0%,
      #cacfd7 50%,
      transparent 50%,
      transparent 100%
    ),
    repeating-linear-gradient(
      to bottom,
      #cacfd7 0%,
      #cacfd7 50%,
      transparent 50%,
      transparent 100%
    );
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 12px 1px, 12px 1px, 1px 12px, 1px 12px;
  transition: border-color 0.3s ease;
}
.image-upload-wrap:hover {
  border-color: #08a896;
  background-image: repeating-linear-gradient(
      to right,
      #08a896 0%,
      #08a896 50%,
      transparent 50%,
      transparent 100%
    ),
    repeating-linear-gradient(
      to right,
      #08a896 0%,
      #08a896 50%,
      transparent 50%,
      transparent 100%
    ),
    repeating-linear-gradient(
      to bottom,
      #08a896 0%,
      #08a896 50%,
      transparent 50%,
      transparent 100%
    ),
    repeating-linear-gradient(
      to bottom,
      #08a896 0%,
      #08a896 50%,
      transparent 50%,
      transparent 100%
    );
}
.image-title-wrap {
  padding: 0;
  color: #222;
}
.file-upload-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.remove-image {
  margin-top: 8px;
}
.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}
/* end File upload with thumbnail */

.fm__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.fm .login {
  padding: 0 16px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.fm__signin {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.fm__signin .button--signin {
  width: auto;
  flex-basis: 45%;
}
@media only screen and (max-width: 580px) {
  .fm__signin .button--signin {
    width: auto;
    flex-basis: 100%;
    margin: 10px auto;
  }
}
.fm__underbottom {
  width: 100%;
  border-top: 2px solid #eff1f3;
  margin-top: 32px;
  padding: 32px 0 0;
  margin-bottom: 0;
}
/* end Common Form elements styles */

/* MODAL */
.modal {
  max-height: 80%;
  max-width: 560px;
}
.modal .modal-content {
  padding: 0;
}
.modal .fm__contr {
  max-width: 560px;
}
.modal .fm__form-inner {
  max-width: 400px;
}
.modal .fm__form {
  padding: 40px 32px 46px 32px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(37, 21, 0, 0.1), 0 0px 8px 0 rgba(37, 21, 0, 0.1);
}
.modal .fm__form-header {
  margin-bottom: 8px;
}
.modal .fm__footer {
  margin-top: 32px;
}
.content-semi-title {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.content-small-title {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.modal .btn-close {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 2;
}
.modal .btn-close:hover .icon {
  fill: hsla(218, 21%, 53%, 1);
}
.modal .fm .input-field {
  margin-top: 16px;
  margin-bottom: 16px;
}
.modal-overlay {
  background-color: #2e4363;
}
/* end MODAL */
/* TABS */
.tabs {
  border-bottom: 2px solid #eff1f3;
  overflow: visible;
  height: auto;
}

.tabs .tab {
  margin-right: 40px;
  height: auto;
  line-height: 1;
  padding: 16px 0;
}
.tabs .indicator {
  bottom: -2px;
  z-index: 1000;
  background-color: #09baa6;
}

.tabs .tab a {
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  color: #494c52;
  overflow: visible;
  text-transform: none;
}
.tabs .tab a:hover {
  color: #09baa6;
}
.tabs .tab a.active {
  color: #09baa6;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: transparent;
}
.tabs__body {
  padding: 28px 0 8px;
}
/* end TABS */

/* PLAN */
.plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.plan .button {
  max-width: 168px;
  height: 40px;
  border-radius: 28px;
}
.plan__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  padding: 24px 0 16px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(25, 15, 0, 0.1);
  flex-basis: 30%;
  text-align: center;
  color: #0d0d0d;
}
@media (max-width: 996px) {
  .plan__card {
    flex-basis: 47%;
  }
}
@media (max-width: 768px) {
  .plan__card {
    flex-basis: 100%;
  }
}
.plan__card > * {
  padding-left: 8px;
  padding-right: 8px;
}
.plan__icon .icon {
  width: 2em;
  height: 2em;
}
.plan__name {
  margin: 7px 0 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
  color: #435672;
}
.plan__price {
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #09baa6;
  font-size: 24px;
  font-weight: bold;
}
.plan__price .small {
  font-weight: normal;
  font-size: 12px;
}
.plan__descr {
  margin: 22px 0 20px;
}
.plan__descr > *:not(:last-child) {
  margin-bottom: 12px;
}
.plan__current {
  margin: 10px 0 14px;
  font-size: 12px;
  font-weight: bold;
  color: #09baa6;
}
.plan__footer {
  width: 100%;
  margin-top: 16px;
  padding-top: 12px;
  border-top: 2px solid #f7f8f9;
}
.plan__footer > *:not(:last-child) {
  margin-bottom: 8px;
}
/* end PLAN */

/* payment card */
.content__payment {
  margin-top: 40px;
  max-width: 368px;
}
.payment__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 28px 0 24px;
  padding: 32px 32px 40px 32px;
  height: 200px;
  border-radius: 3px;
  background-color: #2e4363;
  box-shadow: 0 14px 48px 0 rgba(241, 242, 244, 0.5);
}
.card__label {
  font-size: 12px;
  color: #8191ac;
  margin-bottom: 4px;
}
.card__field {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
/* end payment card */

/* account settings */
.fm--settings .form__col-left {
  flex-grow: 1;
}
.fm--settings .form__col-right {
  margin-left: 28px;
}
@media only screen and (max-width: 850px) {
  .fm--settings .form__col-left {
    order: 2;
  }
  .fm--settings .form__col-right {
    order: 1;
    margin-left: 0;
    margin-right: auto;
  }
}
.fm--settings .fm__contr {
  max-width: 760px !important;
}
.fm--settings .fm__form-inner {
  max-width: 100%;
}
.fm--settings .fm__form {
  margin-top: -28px;
  padding: 0 24px 0 128px;
}

.fm--settings .input-field {
  margin-top: 28px;
  margin-bottom: 28px;
}
.input-field__prefix {
  position: absolute;
  display: flex;
  align-items: center;
  left: -104px;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .fm--settings .fm__form {
    padding: 0 24px 0 24px;
  }
  .input-field__prefix {
    position: static;
    margin-bottom: 8px;
  }
}
.fm--settings .fm__footer {
  align-items: flex-start;
}
.settigns__account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding-top: 24px;
  border-top: 2px solid #eff1f3;
}
.fm--settings .file-upload {
  margin-top: 28px;
  margin-bottom: 12px;
}
.show-change-password #btnChangePassword {
  display: none;
}
.password-wrap:not(.show-change-password) .input-field:not(:first-child) {
  display: none;
}
.password-wrap:not(.show-change-password) .input-field:first-child {
  margin-top: 48px;
}

.fm--team .fm__contr {
  max-width: 360px;
}
.fm--team .fm__form {
  margin-top: -8px;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}
.fm--team .fm__form-header {
  text-align: left;
}
.fm--team .fm__form-subtitle {
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #494c52;
}
.fm + .team-members {
  margin-top: 72px;
}
/* team members */
.team-members {
  max-width: 360px;
}
.member {
  margin-bottom: 24px;
}

.member__ava {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
}
.member__ava img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.member__info {
  margin-left: 16px;
}
.member__name {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.member__delete {
  margin-left: 13px;
}
.member__email {
  margin-top: 6px;
  font-size: 12px;
  color: #494c52;
}
.member__position {
  position: relative;
  max-width: 110px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #09baa6;
  text-transform: uppercase;
}
.member__position .select-wrapper input.select-dropdown {
  border-bottom: none;
  height: auto;
  line-height: normal;
  color: #09baa6;
  font-size: inherit;
  text-transform: inherit;
  font-weight: inherit;
}
.member__position .select-wrapper input.select-dropdown:focus {
  border-bottom: none;
}
.member__position .dropdown-content li > a,
.member__position .dropdown-content li > span {
  font-size: 12px;
  color: #09baa6;
  line-height: 1;
  padding: 12px 10px;
}
.member__position .dropdown-content li {
  min-height: 30px;
}
.member__position .select-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 7px;
  fill: #09baa6;
}
.member__position .select-wrapper .caret {
  opacity: 0;
}
/* end team members */
/* checklist */
.checklist-wrap {
  margin-top: 48px;
  max-width: 408px;
  padding: 24px 42px 40px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(25, 15, 0, 0.1);
}
.checklist__header {
  text-align: center;
  margin-bottom: 40px;
}
.checklist .content-semi-title {
  margin-bottom: 10px;
}
.checklist__descr {
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.3px;
  color: #494c52;
}
.checklist__item {
  display: flex;
  margin: 18px 0;
}
.checklist__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-top: 1px;
  border-radius: 50%;
  background-color: #09baa6;
}
.checklist__footer {
  margin-top: 36px;
}
/* end checklist */

.progress-wrap {
  width: 100%;
  margin: 26px 0 12px;
  position: relative;
  height: 24px;
  border-radius: 3px;
  background-color: rgba(239, 241, 243, 0.6);
}

.progress-bar {
  background: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  border-radius: 4px;
  background-color: #09baa6;
  box-shadow: 0 3px 7px 0 rgba(32, 203, 184, 0.5);
}
/* end account settings */
/* Report report */
.report__action .button {
  padding: 0 20px;
}
.report__cards .content__row {
  justify-content: space-between;
}
.report__cards {
  margin-top: 12px;
  margin-bottom: -40px;
}
.report__card {
  padding: 20px 24px 24px;
  margin-bottom: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(25, 15, 0, 0.1);
}
.card__header {
  border-bottom: 2px solid #eff1f3;
}
.report__summary {
  flex-basis: calc(100% - 360px - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 32px 40px;
}
.summary__item {
  flex-basis: 33.333%;
  min-width: 132px;
  margin-top: 32px;
  padding: 0 8px;
  text-align: center;
}
@media only screen and (max-width: 1080px) {
  .summary__item {
    min-width: 112px;
    margin-top: 16px;
  }
}
@media only screen and (max-width: 996px) {
  .report__summary {
    flex-basis: 100%;
  }
}
.summary__caption {
  max-width: 115px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.5;
  color: #494c52;
}
.summary__number {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #09baa6;
}
.summary__location {
  margin-top: 32px;
  line-height: 1.43;
  color: #494c52;
}
.summary__location .content__row {
  justify-content: flex-start;
}
.summary__location span {
  margin: 0 4px;
}
.summary__location .icon {
  margin-right: 4px;
}
.summary__location-place {
  font-size: 16px;
  font-weight: 500;
  color: #0d0d0d;
}
.report__charts .report__card {
  flex-basis: 48%;
}
.chart__empty {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: #babfc8;
}
.chart__empty img {
  max-width: 100%;
  margin-bottom: 24px;
}
.report__card .content-small-title {
  margin-bottom: 14px;
}
.report .fm {
  margin-top: -16px;
}

.report .fm__footer {
  margin-top: 32px;
}
.report button[type='submit'] {
  max-width: 160px;
}
.report input {
  flex-grow: 1;
  height: 40px !important;
  font-size: 14px !important;
  padding-left: 14px;
  padding-right: 14px !important;
}
.report .input-field {
  margin-top: 16px;
  margin-bottom: 16px;
}
.report .input-field {
  display: flex;
  align-items: center;
}
.input-field label,
.input-field .label {
  position: static;
  transform: none !important;
  margin-right: 8px;
}
.input-field .label {
  min-width: 60px;
}
.report .select-wrapper input.select-dropdown:focus {
  border-bottom: none;
}
.report .dropdown-content li > a,
.report .dropdown-content li > span {
  font-size: 14px;
  color: #0d0d0d;
  line-height: 1;
  padding: 12px 10px;
}
.report .dropdown-content li {
  min-height: 30px;
}
.fm__select {
  position: relative;
  flex-grow: 1;
}
.fm__select .select-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 12px;
  fill: #babfc8;
  z-index: 1;
}
.fm__select:hover .select-icon {
  fill: #8191ac;
}
.fm__select input.select-dropdown {
  color: #babfc8;
}
.report .select-wrapper .caret {
  opacity: 0;
}
.date-picker-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
.date-picker-inputs .input-field {
  margin-top: 0;
  margin-bottom: 0;
}
.date-picker-inputs input {
  max-width: 112px;
}
.dash {
  width: 12px;
  height: 1px;
  margin: 0 4px;
  background-color: #cacfd7;
}
/* end Report report */
